<div class="price-history-container">
  <div class="header-content">
    <img
      *ngIf="imageUrl"
      [src]="imageUrl"
      alt="Item Image"
      class="item-image"
    />
    <h2>
      Price History for: <br /><a [href]="url" target="_blank">{{ url }}</a>
    </h2>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Loading price history...</p>
  </div>

  <div *ngIf="!isLoading && priceHistory.length > 0" class="chart-section">
    <div class="chart-wrapper">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [stroke]="chartOptions.stroke!"
        [tooltip]="chartOptions.tooltip!"
        [title]="chartOptions.title!"
        [yaxis]="chartOptions.yaxis!"
      ></apx-chart>
    </div>
  </div>

  <div
    *ngIf="!isLoading && priceHistory.length === 0 && !errorMessage"
    class="no-data-message"
  >
    <p>No price history found for this URL.</p>
  </div>

  <div *ngIf="discordUserNames.length > 0" class="discord-users-section">
    <h3>Monitored by:</h3>
    <ul>
      <li *ngFor="let user of discordUserNames">{{ user }}</li>
    </ul>
  </div>
</div>
